<% include ../partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= campground.name %>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= campground.image %> ">
                <div class="description">
                    <p>
                        <%= campground.description %>
                    </p>
                </div>
                <h3>Comments</h3>
                <% campground.comments.forEach(function(comment){ %>
                    <p>
                        <%// console.log(comment); %> 
                        <strong><%= comment.author %></strong> - <%= comment.text %>
                    </p>
                <% }) %> 
            </div>
            <p>
                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new Comment</a>
            </p>
        </div>
    </div>
<% include ../partials/footer %>